<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
        <title>BackEnd NodeJs Home</title>
    </head>

    <body>
        <!-- navbar -->
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/create-user">Create User</a></li>
        </ul>
        <!-- img -->
        <div class="imgClass">
            <h3>
                NodeJS BackEnd
            </h3>
            <img src="/img/nodejs.png" alt="logo">
        </div>
        <!-- table -->
        <!-- <%= JSON.stringify(listUsers) %> -->
        <div class="tableContainer">
            <p class="tableTitle">List Users</p>
            <table class="table">
                <!-- table head -->
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                <!-- table content -->
                <% for (var i = 0; i < listUsers.length; i++) { %>
                <tr>
                    <td><%= listUsers[i].id %></td>
                    <td><%= listUsers[i].email %></td>
                    <td><%= listUsers[i].name %></td>
                    <td><%= listUsers[i].city %></td>
                    <td>
                        <button>
                            <a href="/update-user/<%= listUsers[i].id %>">
                                Edit
                            </a>
                        </button>
                        <button>
                            <a href="/delete-user/<%= listUsers[i].id %>">
                                Delete
                            </a>
                        </button>

                    </td>
                </tr>
                <% } %>
                <!--  -->

            </table>
        </div>

    </body>
</html>