<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
        <title>BackEnd NodeJs Home</title>
    </head>

    <body>
        <!-- navbar -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create-user">Create User</a></li>
            <li><a class="active" href="/update-user/<%= userUpdate.id %>">Update User</a></li>
        </ul>

        <form action="/update-user-succeed" method="post">
            <fieldset>
                <legend>Update user:</legend>
                <div class="formContainer">
                    <label for="id">ID:</label><br>
                    <input readonly name="id" value="<%= userUpdate.id %>"><br><br>
                    <label for="email">Email:</label><br>
                    <input type="email" name="email" value="<%= userUpdate.email %>"><br><br>
                    <label for="name">Name:</label><br>
                    <input type="text" name="name" value="<%= userUpdate.name %>"><br><br>
                    <label for="city">City:</label><br>
                    <input type="text" name="city" value="<%= userUpdate.city %>"><br><br>
                    <button>Update</button>
                </div>
            </fieldset>
        </form>

    </body>
</html>